body {
    width: 1079px;
}

#content {
  width: 1079px;
}

#feedbacks {
  float: left;
  width: 879px; /* body.width - #filters.width */
}
#filters {
  float: right;
  width: 185px;
  margin-left: 15px;
}

.record {
  margin: 25px 10px;
  border-bottom: solid 1px;
}
.record_title_href {
  font: bold;
  text-decoration: none;
  color: #24b;
}
.record_body {
  margin-top: 10px;
  margin-bottom: 10px;
}
.record_footer {
  font-size: small;
  font: italic;
  color: #777;
}
.record_status {
  margin: 0px 0px 15px 0px;
}
.record_actions {
  display: inline;
}

.watched_feed {
  padding: 10px;
  border-bottom: solid 1px;
}
.watched_feed_type {
  font-weight: bold;
  width: 150px;
  float: left;
}
.watched_feed_arg {
  float: left;
}