body {
    width: 1079px;
}

#content {
  width: 1079px;
}

#feedbacks {
  float: left;
  width: 929px; /* body.width - #filters.width */
}
#filters {
  float: right;
  width: 150px;
}

.record {
  margin: 30px 10px;
}
.record_title_href {
  font: bold;
  text-decoration: none;
  color: #24b;
}
.record_description {
  margin-top: 10px;
  margin-bottom: 10px;
}
.record_footer {
  font-size: small;
  font: italic;
  color: #777;
}