<div id="container">
  <div id="feedbacks">
    <h2>Feedbacks</h2>
    <%= render :partial => 'record', :collection => @records %>
  </div>
  <div id="filters">
    <h3>Filters</h3>
    By tag, only unread etc.
  </div>
</div>