<div id="container">
  <div id="feedbacks">
    <h2>Recent</h2>
    <%= will_paginate @records %>
    <div id="feedback_list">
      <%= render :partial => 'record', :collection => @records %>
    </div>
    <%= will_paginate @records %>
  </div>
  <div id="filters">
    <h2>Filters</h2>
    By tag, only unread etc.
    <br />
    TODO
  </div>
  <script type="text/javascript">
    document.observe("dom:loaded", function() {
      // initially hide all containers for tab content
      <%= remote_function :url => {:action => 'update_posts'}, :with => 'collect_record_ids()' %>
    });
  </script>
</div>